html {
    min-height: 100%; 
}
body {
   
    background: linear-gradient(#93B874 10%, #C9DCB9 30%, #000000 60%);
}
p {
	text-align:center;
	color: #000000;
}

h1 {
	text-align:center;
	color: #FFFF00;
}
h3 {
	text-align:center;
	color: #FFFF00;
}
TABLE {
	vertical-align: middle;
	text-align:center;
	border: 1px solid #000;
	border-collapse: collapse;
	width:100%;
}
TABLE td {
	text-align:center;
	border:2px solid #000;
	padding:5px;
}
TABLE tr:hover {
	background:#FFFF00;
	color:#fff;
}
TABLE p {
	text-align:center;
	color: #04B404;
}
TABLE a {
	text-align:center;
	color: #04B404;
}
TABLE img{
	width: 70%;
	height: 70%;
}
TABLE h3 {
	text-align: center;
	color: #04B404;
}

.lista {
	
	text-align:center;
	width: 100%;
	background: #04B404;
	list-style: none;
	margin: auto;
	padding: 0;
	
	
}
.lista LI {
	text-align: center;
	display: inline-block;
}

.lista LI a {
	padding: 10px 20px;
	display: inline-block;
	color: #fff;
}
.lista LI a:hover {
	background:#0B3B0B;
	color:#FFFF00;

.lista2 {
	
	text-align:center;
	width: 100%;
	background: #04B404;
	list-style: none;
	margin: auto;
	padding: 0;
	
	
}
.lista2 LI {
	text-align: center;
	
}

.lista2 LI {
	padding: 10px 20px;
	display: inline-block;
	color: #fff;
}
.lista2 LI:hover {
	background:#0B3B0B;
	color:#FFFF00;

.imagenes {
	height: 10%;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

div{
	align="center";
	margin: auto;
}




